<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello, world!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="static/spotify_app/style.css">
</head>
<body>

  
    <h1>Spotify India<h1>
      <img src="spotify_app/husn.png">

  
    {% comment %} {% block content %}
    <p>{{song}}</p>

    {% load static%}
    <img style="width:200px" src="{% static 'spotify_app/Pradhyum_Arc.png' %}">
    {% endblock %} {% endcomment %}

    {% for songCard in song_cards %}

    <li>{{ songCard.songTitle}} </li>
    <li>{{ songCard.songArtist}}</li>
    {% comment %} <img src="{% static '{{ songCard.songThumbnail}}' %}"> {% endcomment %}

    <img src="{{ songCard.songThumbnail}}">
    {% endfor %}
</body>
</html>
