* {
    font-family: sans-serif;
    color: #fff;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 

  }
  :root {
    --background: #000;
    --tab-background: #121212;
    --sub-text: #ffffffb2;
    --highlight-bg: #ffffff1a;
    --initial-tab-tex: #b3b3b3;
    --spotify-green: #1ed760;
    --card-bg: #181818;
    --background-base: #121212;
    --background-noise: #fff;
  }
  
  body {
    background-color: #000;
  }
  
  p {
    color: #fff;
    font-family: sans-serif;
    font-size: 1rem;
  }
  
  .flex {
    display: flex;
  }
  
  #nav-icon {
    width: 23px;
    margin: 13px 23px 8px 0px;
    margin-left: 25px;
  }
  
  .initial-tab {
    width: 26.3rem;
    height: 14rem;
  }
  
  .initial-tab-upper {
    width: 420px;
    height: 112px;
    border-radius: 8px;
    background-color: var(--tab-background);
    display: flex;
  }
  
  .initial-tab-lower {
    width: 420px;
    height: 122px;
    border-radius: 8px;
    background-color: var(--tab-background);
    margin-top: 8px;
  }
  
  .tagpill {
    background-color: var(--highlight-bg);
    margin: 12px 4px;
    padding: 7px 10px;
    border-radius: 20px;
  }
  
  #sidebar-pill {
    height: 64px;
    width: 404px;
    background-color: transparent;
    border-radius: 7px;
    margin-left: 7px;
  }
  
  #sidebar-pill-main {
    background-color: var(--highlight-bg);
    height: 64px;
    width: 404px;
    border-radius: 7px;
    margin-left: 7px;
  }
  
  #sidebar-pill:hover {
    background-color: var(--highlight-bg);
  }
  
  #sidebar-pill-icon {
    width: 46px;
    border-radius: 4px;
    margin: 9px;
  }
  
  #side-head {
    margin: 11px 17px 3px 5px;
    color: #fff;
  }
  
  #side-sub {
    margin: 9px 12px 10px 5px;
    font-size: 13px;
    color: var(--sub-text);
  }
  
  .library-section {
    width: 420px;
    height: 38rem;
    background: var(--tab-background);
    margin-top: -1rem;
    padding-top: 1rem;
    overflow: scroll;
  }
  
  #sub-text {
    font-size: 14px;
    margin: 18px;
    color: var(--sub-text);
  }
  
  .main-window-fixed {
    color: white;
    width: -webkit-fill-available;
    height: 50rem;
    margin: 0rem 0rem 0rem 26.76rem;
    background-color: var(--tab-background);
    border-radius: 8px;
    margin-right: 8px;
  }
  
  .main-window {
    height: 50rem;
    border-radius: 8px 8px 0px 0px;
  }
  
  #category-title {
    font-size: 24px;
    margin: 5px 5px 13px 12px;
    margin-left: 31px;
    margin-top: 31px;
    text-wrap: nowrap;
  }
  
  
  .category-head {
    display: flex;
    justify-content: space-between;
  }
  .right-arrow {
    width: 1.3rem;
    height: fit-content;
    filter: invert(0.7);
    margin-top: 34px;
    margin-right: 20px;
  }
  
  .card-bg {
    width: 170.61px;
    height: 261.01px;
    background-color: var(--card-bg);
    border-radius: 6px;
    margin: 10px 11px;
  }
  
  .card-bg:hover {
    background-color: #2b2b2b;
  }
  
  #card-thumbnail {
    width: 8.5rem;
    margin: 17px;
    border-radius: 3px;
  }
  
  #artist-card-thumbnail {
    width: 8.5rem;
    height: 8.5rem;
    margin: 17px;
    border-radius: 50%;
  }

  #card-content {
    margin-left: 17px;
    margin-right: 17px;
  }

  #card-title {
    font-weight: 600;
    font-size: 16px;
  }
  #card-title-1 {
    font-weight: 600;
    font-size: 16px;
  }
  
  #card-subtext {
    font-size: 13.5px;
    margin: 9px 0px;
    line-height: 23px;
    color: var(--sub-text);
  }
  
  #card-grid {
    margin-left: 22px;
    transition: scroll-behavior 0.5s ease-in-out;
    scroll-behavior: smooth;
  }
  
  #card-grid::-webkit-scrollbar {
    display: none;
  }
  
  .main-window::-webkit-scrollbar {
    display: none;
  }
  
  .genre-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-left: 13px;
    margin-right: 36px;
    margin-bottom: 16rem;
  }
  
  @media (max-width: 1416px) {
    .genre-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 1220px) {
    .genre-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 1030px) {
    .genre-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .genre-cards {
    min-width: 170px;
    min-height: 170px;
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    width: 100%;
    height: 100%;
    background: #358a6e;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 1;
    position: relative;
  }
  
  #genre-img {
    width: 6rem;
    margin-top: 2rem;
    margin-left: 5.5rem;
    transform: rotate(25deg);
    bottom: 0;
    right: -15px;
    position: absolute;
    border-radius: 4px;
  }
  
  #genre-text {
    font-size: 23px;
    font-weight: 600;
    margin-left: 14px;
    margin-top: 20px;
  }
  
  #hover-play {
    width: 3.5rem;
    margin: -68px -9px 14.6px 6rem;
    display: block;
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .hover-play_1 {
    width: 3.5rem;
    margin: -75px -9px 14.6px 6rem;
    display: block;
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .card-bg:hover #hover-play,
  .card-bg:hover .hover-play_1 {
    opacity: 1;
    transform: translateY(0);
  }
  
  .selected {
    color: #fff;
    cursor: pointer;
  }
  
  .unselected {
    color: #b3b3b3;
    font-weight: normal;
  
    cursor: pointer;
  }
  
  .additional1 {
    opacity: 1;
  }
  .additional2 {
    opacity: 0.6;
  }
  
  /* .home-tabs {
    height: 310px;
    border-radius: 8px 8px 8px 8px;
    background-image: linear-gradient(
      0deg,
      hsl(0deg 0% 7%) 0%,
      hsl(260deg 16% 9%) 6%,
      hsl(256deg 25% 11%) 14%,
      hsl(254deg 33% 14%) 22%,
      hsl(252deg 38% 16%) 31%,
      hsl(251deg 43% 18%) 41%,
      hsl(250deg 47% 20%) 51%,
      hsl(248deg 50% 23%) 60%,
      hsl(247deg 52% 25%) 69%,
      hsl(245deg 55% 27%) 76%,
      hsl(244deg 57% 30%) 82%,
      hsl(243deg 58% 32%) 87%,
      hsl(241deg 60% 34%) 91%,
      hsl(240deg 62% 37%) 94%,
      hsl(238deg 66% 39%) 97%,
      hsl(236deg 71% 40%) 99%,
      hsl(234deg 77% 41%) 100%
    );
  } */
  
  
  .home-tabs {
    height: 310px;
    border-radius: 8px 8px 8px 8px;
  }
  
  #tab-vid {
    height: 21rem;
      width: 65rem;
      filter: brightness(0.5);
      border-radius: 9px;
  }
  
  .home-pill {
    display: inline-flex;
    min-width: 12rem;
    max-width: -webkit-fill-available;
    width: 100%;
    height: 48px;
    color: #fff !important;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(179 179 179 / 26%);
    justify-content: space-between;
    text-wrap: nowrap;
  }
  
  #home-pill-img {
    width: 48px;
    height: 48px;
    border-radius: 6px;
  }
  
  #home-pill-txt {
    margin: 15px;
    cursor: pointer;
    font-size: 14.5px;
    font-weight: bold;
  }
  
  #hover-play_2 {
    width: 40px;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4px;
    display: block;
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .home-pill:hover #hover-play_2 {
    opacity: 1;
    transform: translateY(0);
  }
  
  .home-pill-grid {
    display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 9px;
      row-gap: 9px;
      margin-left: 16px;
      margin-right: 16px;
      padding-top: 4rem;
      margin-top: -19rem;
      z-index: 999;
      position: relative;
  }
  
  @media (max-width: 1164px) {
    .home-pill-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  
  .home-pill {
    display: flex;
    column-gap: 0cap;
  }
  
  
  #hidden-grad {
    width: 100%;
      height: 8rem;
      background-color: #895e5e;
      position: relative;
      margin-top: -76px;
      background: linear-gradient(180deg, rgb(159 154 154) 0%, rgb(194 194 194 / 0%) 0%, rgb(18 18 18) 72%);
  }
  
  
  .video-con {
    height: 22rem;
    width: 100%;
  }
  
  #tab-vid {
    height: 100%!important;
    object-fit: cover;
    position: relative!important;
    width: 100%!important;
    filter: grayscale(1);
  }
  
  
  

  /* audio-player */
#player-container {
  background-color: #000;
  height: 90px;
  color: #fff;
  font-family: sans-serif;
  position: fixed;
  width: 100vw;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  z-index: 999;
}

#section-1 {
  display: flex;
  justify-content: flex-start;
  width: 410px;
  min-width: 210px;
  margin: 0px 0px 0px 16px;
  align-self: center;
}

#player-song-thumbnail {
  width: 56px;
  height: 56px;
  align-self: center;
  border-radius: 5px;
}

#player-text {
  margin-left: 19px;
  align-self: center;
}

#player-song-title {
  font-size: 14px;
}

#player-song-artist {
  font-size: 11px;
  margin-top: -9px;
  color: #a3a3a3;
  text-wrap: nowrap;
}

.fa {
  font-size: 20px;
  color: #808080;
}

.fa:hover {
  color: #fff;
}

#play-pause-icon {
  font-size: 38px;
  color: #fff;
}

#section-2 {
  max-width: 500px;
  width: 100%;
  margin-top: 11px;
}

#audio-controls {
  gap: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.audio-bar {
  max-width: 500px;
  width: 100%;
  height: 5px;
  background-color: #7c7c7c;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

#audio-bar-active {
  margin-top: -5px;
  background-color: #fff;
  /* width: 65%; */
  margin-left: unset;
}

.audio-bar:hover + #audio-bar-active,
#audio-bar-active:hover,
#audio-bar-active:hover ~ .audio-bar {
  background-color: var(--spotify-green);
}

#section-3 {
  width: 410px;
  min-width: 210px;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

#share-btn {
  float: right;
  margin-right: 12px;
  font-size: 26px;
  color: #abacae;
}

#volume-icon {
  float: right;
  margin-right: 4px;
  font-size: 20px;
  color: #abacae;
  align-self: center;
}

#volume-slider {
  width: 33%;
  min-width: 65px;
  height: 4px;
  accent-color: #fff;
  align-self: center;
  margin-right: 16px;
}

#volume-slider:hover {
  accent-color: var(--spotify-green);
}

/* audio-player */


/* snap-container */


#snap-container {
  z-index: -1;
  max-width: 50%;
  min-width: 400px;
  height: 652px;
  background-color: rgb(99 146 109);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0rem;
  position: fixed;
  left: 0;
  right: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  /* transition: opacity 0.3s ease, height 0.3s ease; */
}


 #snap-container.open {
  height: 652px; /* Adjust this value to control the height of the opened box */
  opacity: 1;
  transform: translateY(10px);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#snap-card {
  padding: 10px 17px 10px 17px;
  background-color: rgb(99 146 109);
  width: 265px;
  height: 414px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 44px;
  position: absolute;
  left: 0;
  right: 0;
}

#snap-frame {
  width: 260px;
  height: 377px;
  background-color: #50b065c7;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  padding: 12px 0px 5px 0px;
  border-radius: 9px;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 17px 0px rgb(0 0 0 / 75%);
}

#snap-thumbnail {
  width: 233px;
  height: 233px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1px;
  border-radius: 9px;
}

#snap-title {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  margin: 18px 14px 0px 14px;
  line-height: 25px;
  font-family: 'comfortaa', 'sans-serif';
  opacity: .9;
}

#snap-artist {
  font-size: 14px;
  color: #ffffff8c;
  font-weight: 500;
  margin: 0px 13px 0px 14px;
  line-height: 29px;
  font-family: 'comfortaa', 'sans-serif';
}

#crescendo-log {
  height: 47px;
  margin-top: 13px;
  margin-left: 4px;
  position: absolute;
  bottom: -12px;
}

#dl-snap-btn {
  padding: 12px 15px;
  border: none;
  border-radius: 51px;
  font-weight: 900;
  margin-top: 32rem;
  background-color: #fff;
  color: #000;

}
#sh-snap-btn {
  padding: 12px 15px;
  border: none;
  border-radius: 51px;
  font-weight: 900;
  margin-top: 32rem;
  background-color: #fff;
  color: #000;

}

#btn-con {
  display: flex;
justify-content: center;
align-items: center;
}

.snap-noise {
  width: 163px;
}


.color-select-con {
 
  display: flex;
  place-content: center;
  align-items: center;
  position: relative;
  top: 31rem;
  gap: 15px;
}

.color-select {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #858585;
}

#close-btn {
  width: 35px;
  position: absolute;
  right: 4px;
  top: 13px;
  font-size: 25px;
  color: #fff;
}
/* snap-container */